BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

PointerAlignment: Left

BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterNamespace: false
  AfterStruct: false
  AfterClass: false

BreakBeforeParens: Always
AllowAllArgumentsOnNextLine: false
BinPackArguments: false

ColumnLimit: 120